apiVersion: v1
kind: Secret
metadata:
  name: {{ redis_acl_secret_name }}
  namespace: {{ redis_namespace }}
  labels:
{% for key, value in redis_labels.items() %}
    {{ key }}: {{ value }}
{% endfor %}
type: Opaque
data:
  {{ redis_acl_secret_key }}: {{ redis_acl_content | b64encode }}
